---
title: Rechtsanwalt Christian Huxhold - Datenschutz
description: Datenschutzbestimmungen
published: true
tags: Rechtsanwalt, Christian, Huxhold, Datenschutz, Datenschutzbestimmungen, Haftung, deutsche Datenschutzbestimmungen, personenbezogene Daten, vertraulich, IP-Adresse  anonymisiert
---

<%= partial "navigation" %>

<div class="intro-header-impressum">
  <div class="container">
    <div class="col-lg-10 col-lg-offset-2 col-sm-10">
      <h2 class="section-heading">Datenschutz</h2>
      <p class="lead">Wir legen Wert auf den Schutz personenbezogener Daten. Sämtliche Web-Aktivitäten der Rechtsanwaltskanzlei Huxhold erfolgen auf der Grundlage der Vorgaben der Europäischen Union und den Gesetzen zum Datenschutz und zur Datensicherheit der Bundesrepublik Deutschland.</p>

      <p class="lead">Personenbezogene Daten werden allein zu von Ihnen bestimmten Zwecken genutzt oder zu Zwecken, die auf der Webseite ausdrücklich angegeben werden. Die Verarbeitung und Nutzung Ihrer personenbezogenen Daten erfolgt unter Beachtung der deutschen Datenschutzbestimmungen. Ihre personenbezogenen Daten werden vertraulich behandelt und nicht an Dritte weitergegeben, es sei denn, Sie haben dem schriftlich oder elektronisch zugestimmt oder wir sind dazu gesetzlich verpflichtet. Hierzu treffen wir die dem Stand der Technik entsprechenden Maßnahmen, um Ihre Daten bei uns gegen Verlust oder Missbrauch zu schützen. Wir weisen jedoch darauf hin, dass per E-Mail mit unverschlüsseltem Inhalt übermittelte personenbezogene Daten von unbefugten Dritten mitgelesen werden können. Auf die Risiken einer Übermittlung per E-Mail haben wir keinen Einfluss. Sie haben jederzeit das Recht, Auskunft über Ihre gespeicherten Daten zu erhalten und ggf. Berichtigung oder Löschung zu verlangen. Hierzu senden Sie bitte eine Mail an <%= mail_to("info@ra-huxhold.de") %>.</p>

      <p class="lead">Wir nutzen eine Webanalyse-Software, um die Nutzung unserer Webseite zu analysieren und zu optimieren. Zu diesem Zweck werden sog. Cookies auf Ihrem Computer abgelegt. Das sind kurze Textdateien, die im Browser vorübergehend gespeichert und beim Beenden der Browser-Sitzung wieder gelöscht werden (&bdquo;Session-Cookie&rdquo;). Dabei werden statistische Daten ausschließlich an den von uns betriebenen Webserver in Deutschland übertragen, z.B. welche Unterseiten wie häufig aufgerufen wurden. Ihre IP-Adresse wird anonymisiert. Die erfassten Daten lassen daher keinen Rückschluss über Sie als Besucher unserer Webseite zu und werden auch nicht mit personenbezogenen Daten zusammengeführt. Gemäß § 15 Abs. 3 Satz 1 TMG können sie der Verwendung der Webanalyse-Software widersprechen. Dazu können Sie in Ihrem Browser die Option &bdquo;Do not track&rdquo; auswählen oder das Setzen von Cookies deaktivieren.</p>

      <p class="lead">Die auf dieser Webseite angebotenen Inhalte und die darin wiedergegebenen Meinungen dienen nur der Darstellung der Rechtsanwaltskanzlei Huxhold und stellen keine Rechtsberatung dar. Alle Angaben auf dieser Webseite sind sorgfältig geprüft worden. Trotzdem kann es sein, dass sich Daten und Fakten geändert haben. Eine Haftung oder Garantie für die Aktualität, Richtigkeit und Vollständigkeit der zur Verfügung gestellten Informationen kann daher nicht übernommen werden. Gleiches gilt für andere Webseiten, auf die mittels Hyperlink verwiesen wird. Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber alleine verantwortlich.</p>

      <p class="lead">Bildnachweise:<br />
        <%= link_to("Death to the Stock Photo", "http://join.deathtothestockphoto.com") %><br />
        <%= mail_to("info@ra-huxhold.de", "C. Huxhold") %>
      </p>

      <hr class="section-heading-spacer">
    </div>
  </div>
</div>

<%= partial "footer-menu" %>