---
title: Rechtsanwalt Christian Huxhold - Datenschutz
description: Datenschutzbestimmungen
published: true
tags: Rechtsanwalt, Christian, Huxhold, Datenschutz, Datenschutzbestimmungen, Haftung, deutsche Datenschutzbestimmungen, personenbezogene Daten, vertraulich, IP-Adresse  anonymisiert
---

<%= partial "navigation" %>

<div class="intro-header-impressum">
  <div class="container">
    <div class="col-lg-10 col-lg-offset-2 col-sm-10">
      <h2 class="section-heading">Datenschutz</h2>
      <p class="lead">Wir legen Wert auf den Schutz personenbezogener Daten. S&auml;mtliche Web-Aktivit&auml;ten der Rechtsanwaltskanzlei Huxhold erfolgen auf der Grundlage der Vorgaben der Europ&auml;ischen Union und den Gesetzen zum Datenschutz und zur Datensicherheit der Bundesrepublik Deutschland.</p>

      <p class="lead">Personenbezogene Daten werden allein zu von Ihnen bestimmten Zwecken genutzt oder zu Zwecken, die auf der Webseite ausdr&uuml;cklich angegeben werden. Die Verarbeitung und Nutzung Ihrer personenbezogenen Daten erfolgt unter Beachtung der deutschen Datenschutzbestimmungen. Ihre personenbezogenen Daten werden vertraulich behandelt und nicht an Dritte weitergegeben, es sei denn, Sie haben dem schriftlich oder elektronisch zugestimmt oder wir sind dazu gesetzlich verpflichtet. Hierzu treffen wir die dem Stand der Technik entsprechenden Ma&szlig;nahmen, um Ihre Daten bei uns gegen Verlust oder Missbrauch zu sch&uuml;tzen. Wir weisen jedoch darauf hin, dass per E-Mail mit unverschl&uuml;sseltem Inhalt &uuml;bermittelte personenbezogene Daten von unbefugten Dritten mitgelesen werden k&ouml;nnen. Auf die Risiken einer &Uuml;bermittlung per E-Mail haben wir keinen Einfluss. Sie haben jederzeit das Recht, Auskunft &uuml;ber Ihre gespeicherten Daten zu erhalten und ggf. Berichtigung oder L&ouml;schung zu verlangen. Hierzu senden Sie bitte eine Mail an&nbsp;<%= mail_to("info@ra-huxhold.de") %>.</p>

      <p class="lead">Wir nutzen eine Webanalyse-Software, um die Nutzung unserer Webseite zu analysieren und zu optimieren. Zu diesem Zweck werden sog. Cookies auf Ihrem Computer abgelegt. Das sind kurze Textdateien, die im Browser vor&uuml;bergehend gespeichert und beim Beenden der Browser-Sitzung wieder gel&ouml;scht werden (&bdquo;Session-Cookie&rdquo;). Dabei werden statistische Daten ausschlie&szlig;lich an den von uns betriebenen Webserver in Deutschland &uuml;bertragen, z.B. welche Unterseiten wie h&auml;ufig aufgerufen wurden. Ihre IP-Adresse wird anonymisiert. Die erfassten Daten lassen daher keinen R&uuml;ckschluss &uuml;ber Sie als Besucher unserer Webseite zu und werden auch nicht mit personenbezogenen Daten zusammengef&uuml;hrt. Gem&auml;&szlig; &#xA7; 15 Abs. 3 Satz 1 TMG k&ouml;nnen sie der Verwendung der Webanalyse-Software widersprechen. Dazu k&ouml;nnen Sie in Ihrem Browser die Option &bdquo;Do not track&rdquo; ausw&auml;hlen oder das Setzen von Cookies deaktivieren.</p>

      <p class="lead">Die auf dieser Webseite angebotenen Inhalte und die darin wiedergegebenen Meinungen dienen nur der Darstellung der Rechtsanwaltskanzlei Huxhold und stellen keine Rechtsberatung dar. Alle Angaben auf dieser Webseite sind sorgf&auml;ltig gepr&uuml;ft worden. Trotzdem kann es sein, dass sich Daten und Fakten ge&auml;ndert haben. Eine Haftung oder Garantie f&uuml;r die Aktualit&auml;t, Richtigkeit und Vollst&auml;ndigkeit der zur Verf&uuml;gung gestellten Informationen kann daher nicht &uuml;bernommen werden. Gleiches gilt f&uuml;r andere Webseiten, auf die mittels Hyperlink verwiesen wird. Trotz sorgf&auml;ltiger inhaltlicher Kontrolle &uuml;bernehmen wir keine Haftung f&uuml;r die Inhalte externer Links. F&uuml;r den Inhalt der verlinkten Seiten sind ausschlie&szlig;lich deren Betreiber alleine verantwortlich.</p>

      <p class="lead">Bildnachweise:<br />
        <%= link_to("Death to the Stock Photo", "http://join.deathtothestockphoto.com", html_options = {target: "_blank"}) %><br />
        <%= mail_to("info@ra-huxhold.de", "C. Huxhold") %>
      </p>

      <hr class="section-heading-spacer">
    </div>
  </div>
</div>

<%= partial "footer-menu" %>