---
title: Rechtsanwalt Christian Huxhold - Impressum
description: Impressum für die Webseite von Rechtsanwalt Christian Huxhold
published: true
tags: Rechtsanwalt, Christian, Huxhold, Impressum, Anwalt, Köln, Cologne, Kalk, Rechtsanwaltskammer Köln
---

<%= partial "navigation" %>

<div class="intro-header-impressum">
  <div class="container">
    <div class="col-lg-10 col-lg-offset-2 col-sm-10">
      <h2 class="section-heading">Impressum</h2>
      <p class="lead">Verantwortlich f&uuml;r den Inhalt dieser Internetseiten ist
        <address class="lead">
          Rechtsanwalt Christian Huxhold<br />
          Markt 6<br />
          51103 K&ouml;ln<br /><br />

          <i class="glyphicon glyphicon-phone-alt"></i>&nbsp; 0221 / 96 23 14 65<br />
          Fax: 03222 / 40 83 690<br>
          <i class="glyphicon glyphicon-envelope"></i>&nbsp; <%= mail_to("info@ra-huxhold.de") %>
        </address>
      </p>

      <p class="lead">
        Christian Huxhold ist als Rechtsanwalt in der Bundesrepublik Deutschland zugelassen.<br />
      Er ist Mitglied in der

        <address class="lead">
          Rechtsanwaltskammer K&ouml;ln<br />
          Riehler Stra&szlig;e 30<br />
          50668 K&ouml;ln<br /><br />

          <i class="glyphicon glyphicon-phone-alt"></i>&nbsp; 0221 / 97 30 10-0<br />
          Fax: 0221 / 97 30 10-50<br />
          <i class="glyphicon glyphicon-envelope"></i>&nbsp; <%= mail_to("kontakt@rak-koeln.de") %>
        </address>
      </p>

      <p class="lead">
        Die ma&szlig;geblichen berufsrechtlichen Regelungen<br />
        Bundesrechtsanwaltsordnung<br />
        Berufsordnung<br />
        Fachanwaltsordnung<br />
        BRAO<br />
        finden Sie hier: <%= link_to("www.brak.de", "http://www.brak.de", html_options = {target: "_blank"}) %>
      </p>

      <p class="lead">
        Umsatzsteuer-Identifikationsnummer nach § 27 a UStG: DE297250747
      </p>

      <p class="lead">
        Die Beauftragung erfolgt durch Bevollm&auml;chtigung und die Abrechnung nach den gesetzlichen Vorschriften, insbesondere denen des RVG oder &ndash; sofern zul&auml;ssig &ndash; gem. individueller Vereinbarung auf Honorarbasis.
      </p>

      <p class="lead">
        Rechtsanwalt Huxhold ist bei der R+V Allgemeine Versicherung AG, Voltastra&szlig;e 84, 60486 Frankfurt mit einer Versicherungssumme von bis zu 250.000 € berufshaftpflichtversichert. Die Einzelheiten ergeben sich aus den gesetzlichen Vorschriften, insbesondere aus § 51 BRAO. Weitere Ausk&uuml;nfte erteilen wir auf Anfrage.
      </p>
      <hr class="section-heading-spacer">
    </div>
  </div>
</div>

<%= partial "footer-menu" %>